/*

Primary Color: #4D2D73;
Primary-light: #6C4E90;
primary-lighter: #9078AD;
primary-dark: #321456;
primary-darker:#1D053A;

*/
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
/*@import url('https://fonts.googleapis.com/css?family=Hind');*/
:root{
  --color-primary:#4d2d73;
  --color-primary-light:#6c4e90;
  --color-primary-lighter:#9078ad;
  --color-primary-dark:#321456;
  --color-primary-darker:#1d053a;
  --color-light:#fff;
  --color-dark:#000;
  --font-family: 'Hind', sans-serif;
}

body{
  font-family: 'Josefin Sans', sans-serif;;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

.loader{
  position: absolute;
  background: #fff;
  z-index:10;
  width:100vw;
  height:100vh;
  animation: preload 3s 5s both ease;
}

.loader .loader-info{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.loader .loader-info ul{
  display: flex;
  transform: translateX(-40px);
}
.loader-info ul li{
  list-style: none;
  width:40px;
  height:40px;
  border-radius: 50%;
  background: #1d053a;
  animation:load 1.6s ease-in-out infinite;
}

.loader-info ul li:nth-child(1){
  animation-delay: -1.4s;
  background: #321456;
  box-shadow: 0 0 50px #321456;
}
.loader-info ul li:nth-child(2){
  animation-delay: -1.2s;
  background: #4d2d73;
  box-shadow: 0 0 50px #4d2d73;
}
.loader-info ul li:nth-child(3){
  animation-delay: -1s;
  background: #6c4e90;
  box-shadow: 0 0 50px #6c4e90;
}
.loader-info ul li:nth-child(4){
  animation-delay: -0.8s;
  background: #9078ad;
  box-shadow: 0 0 50px #9078ad;
}
.loader-info ul li:nth-child(5){
  animation-delay: -0.6s;
  background: #321456;
  box-shadow: 0 0 50px #321456;
}
.loader-info ul li:nth-child(6){
  animation-delay: -0.4s;
  background: #1d053a;
  box-shadow: 0 0 50px #1d053a;
}
.loader-info ul li:nth-child(7){
  animation-delay: -0.6s;
  background: #321456;
  box-shadow: 0 0 50px #321456;
}
nav{
  margin:0 8%;
  display: flex;
  justify-content: space-between;
  padding-top:20px;
}
.btn{
  text-decoration: none;
  padding: 10px 30px;
  border:3px solid var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 20px;
  transition: .8s;
}

.btn:hover{
  background: var(--color-primary);
  color:#fff;
}
.intro{
  position: relative;
  margin-top:10%;
  margin-left:30%;

}
@media(max-width:750px){
  .intro{
    top:20%;
    left:5%;
  }
}
.avatar{
  transform:translateX(150px);
}
.hero{
  width: 550px;
  height: 350px;
  margin:auto 25%;
}
#whoami{
  margin-top:20px;

}
#whoami .intro-desc{
  background: var(--color-primary-light);
  color:var(--color-light);
  padding: 100px;
  text-align: center;
  height: 50vh;
}
#whoami .intro-desc p{
  position: relative;
  margin: auto 20%;
}
#skills{
  margin:auto 10%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  transform: translateY(-150px);
  grid-gap:2px;
}
#skills .skills-item{
  background: var(--color-light);
  z-index:777;
  padding:20px;
  border:2px solid var(--color-primary);
  border-radius: 5px;
}
.subtitle{
  color:var(--color-primary-light);
  font-weight: bold;
}
.skills-icon{
  color:var(--color-primary-lighter);
}

#recent-works{
  margin:auto 10%;
}
#recent-works h1{
  text-align: center;
}
#recent-works .work-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
.work{
  position: relative;
  overflow: hidden;
}
.center{
  text-align: center;
  position: relative;
  left:40%;
}
.work img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.btn-link{
  background: var(--color-primary-darker);
  color:var(--color-light);
  padding:5px 10px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  bottom:10px;
  left:20px;
  transition: .8s;
}
.btn-link:hover{
  background: var(--color-light);
  color: var(--color-primary-darker);
}
.fa{
  color:var(--color-primary);
}

#letstalk{
  margin:auto 15%;
  background: var(--color-primary-dark);
  color:var(--color-light);
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  transform: translateY(30px);
}
.button{
  text-decoration: none;
  padding: 10px 30px;
  border:2px solid var(--color-light);
  transform: translateY(10px);
  color:var(--color-light);
  transition: .8s;
}

.button:hover{
  color:var(--color-primary);
  background:#fff;
}
footer{
  background: var(--color-primary-light);
  color:var(--color-light);
  text-align: center;
  padding: 20px;
}
@media(max-width:750px){
  .intro{
    margin:auto 7%;
  }
  .avatar{
    transform:translateX(40px);
  }
  .hero{
    width: 300px;
    height: 100px;
    transform: translateX(-40px);
  }
  #whoami{
    height: 300px;
    padding-bottom: 160px;
  }
  #whoami .intro-desc{
    padding:20px;
    padding-bottom: 180px;
  }
  #whoami .intro-desc p{
    margin:auto 7%;
    padding-bottom: 20px;
  }
  #skills{
    display: block;
    transform: translateY(40px);
  }
  #recent-works{
    margin-top:80px;
  }
  #recent-works .work-grid{
    display: block;
  }

  #letstalk{
    display: block;
  }

  .avatar-img{
    transform: translateX(-70px);
  }
  .contact-form .input-grp{
    display: block;
  }
  .contact-form .input-grp-item{
    display: block;
    position: relative;
    width: 100%;
  }
}

.avatar-img{
  position: relative;
  left:40%;
}

.contact-form{
  margin: auto 10%;
  padding-left: 15px;
  margin-bottom: 30px;
}

.contact-form input[type=text], .contact-form input[type=email]{
  border:2px solid var(--color-primary);
  outline: none;
  border-radius: 5px;
  position: relative;
  height: 30px;
  width: 100%;
  font-family: var(--font-family);
  transition: .5s;
}
.contact-form input[type=text]:focus, .contact-form input[type=email]:focus{
  border: 2px solid var(--color-primary-lighter);
}
.contact-form textarea{
  outline: none;
  order:2px solid var(--color-primary-lighter);
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.submit{
  border:2px solid var(--color-primary-darker);
  padding:10px 30px;
  color:var(--color-primary-darker);
  border-radius: 8px;
}


@keyframes load{
  0%,40%,100%{
    transform: scale(.2);
  }

  20%{
    transform: scale(1);
  }
}

@keyframes preload{
  to{
    opacity: 0;
    z-index:-10;
  }
}